/* pricing section start */
.price-box{
  position: relative;
}
.price-box::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 115%;
  background-color: gray;
}
.price-box:nth-child(4)::after{
  height: 2px;
  background-color: black;
}
/* pricing section end */